{
    "openapi": "3.0.0",
    "info": {
        "title": "Blood Stream v1 API",
        "description": "",
        "contact": {
            "name": "Digital Innovation"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://mytotalhealth.com.my/staging",
            "description": "Staging Server"
        }
    ],
    "paths": {
        "/api/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login with lab credentials",
                "description": "Authenticate lab user and return JWT token",
                "operationId": "92de08666e40760bb4a67b9c875bd002",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "username",
                                    "password"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "LAB001user"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "bearer"
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "example": 3600
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/v1/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout lab user",
                "description": "Logout the authenticated lab user and invalidate the JWT token",
                "operationId": "734ba9bbf120e279bea89fa1b5301620",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successfully logged out."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Logout failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to logout, please try again."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing token"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/result/patient": {
            "post": {
                "tags": [
                    "Result"
                ],
                "summary": "Submit lab results for a patient.",
                "description": "Receives a formatted JSON payload containing complete lab test results for a patient including multiple panels and tests.",
                "operationId": "labResults",
                "requestBody": {
                    "description": "Lab results data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "lab_no",
                                    "doctor_code",
                                    "patient",
                                    "results"
                                ],
                                "properties": {
                                    "reference_id": {
                                        "description": "Reference ID for the test",
                                        "type": "string",
                                        "example": "ABC12345"
                                    },
                                    "lab_no": {
                                        "description": "Laboratory number",
                                        "type": "string",
                                        "example": "123456789"
                                    },
                                    "bill_code": {
                                        "description": "Billing code",
                                        "type": "string",
                                        "example": "AMC_ALPRO"
                                    },
                                    "doctor_code": {
                                        "description": "Doctor code",
                                        "type": "string",
                                        "example": "ABC122"
                                    },
                                    "received_date": {
                                        "description": "Date when sample was received",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2025-01-19 00:00:00"
                                    },
                                    "reported_date": {
                                        "description": "Date when results were reported",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2025-01-19 00:00:00"
                                    },
                                    "collected_date": {
                                        "description": "Date when sample was collected",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2025-01-19 00:00:00"
                                    },
                                    "validated_by": {
                                        "description": "Person who validated the results",
                                        "type": "string",
                                        "example": "Richard Roe, Bsc in Biomedical"
                                    },
                                    "patient": {
                                        "required": [
                                            "patient_icno",
                                            "patient_name"
                                        ],
                                        "properties": {
                                            "patient_icno": {
                                                "description": "Patient IC number",
                                                "type": "string",
                                                "example": "870521145681"
                                            },
                                            "patient_gender": {
                                                "description": "Patient gender",
                                                "type": "string",
                                                "example": "Male"
                                            },
                                            "patient_age": {
                                                "description": "Patient age",
                                                "type": "string",
                                                "example": "54"
                                            },
                                            "patient_name": {
                                                "description": "Patient name",
                                                "type": "string",
                                                "example": "JOHN DOE"
                                            },
                                            "patient_tel": {
                                                "description": "Patient telephone number",
                                                "type": "string",
                                                "example": "012-3456789"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "package_name": {
                                        "description": "Test package name",
                                        "type": "string",
                                        "example": "AC ESSENTIAL PACKAGE"
                                    },
                                    "results": {
                                        "description": "Test results organized by panel",
                                        "properties": {
                                            "Haematology": {
                                                "properties": {
                                                    "panel_sequence": {
                                                        "description": "Panel sequence number",
                                                        "type": "integer",
                                                        "example": 1,
                                                        "nullable": true
                                                    },
                                                    "panel_remarks": {
                                                        "description": "Panel remarks",
                                                        "type": "string",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "result_status": {
                                                        "description": "Result status",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "tests": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "test_name": {
                                                                    "type": "string",
                                                                    "example": "Haemoglobin"
                                                                },
                                                                "result_value": {
                                                                    "type": "string",
                                                                    "example": "15.7"
                                                                },
                                                                "result_flag": {
                                                                    "type": "string",
                                                                    "example": null,
                                                                    "nullable": true
                                                                },
                                                                "unit": {
                                                                    "type": "string",
                                                                    "example": "g/dL"
                                                                },
                                                                "ref_range": {
                                                                    "type": "string",
                                                                    "example": "M: 13.0 - 18.0; F: 11.5 - 16.0"
                                                                },
                                                                "test_note": {
                                                                    "type": "string",
                                                                    "example": null,
                                                                    "nullable": true
                                                                },
                                                                "report_sequence": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Lab results processed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Test result ID",
                                    "type": "integer"
                                },
                                "example": 123
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error - Invalid input data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "patient.patient_icno": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The patient.patient_icno field is required."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error - Failed to save data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to save data"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "Result",
            "description": "Result"
        }
    ]
}